/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

html {
    background-image: url(background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 40px;
    height: 100%;
}

div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

td {
    text-align: center;
    height: 30px;
    width: 30px;
    border: 1.5px solid grey;
    border-style: inset;
}

.table {
    display: flex;
}

divarray1 {
    left: 20px;
}

.towch1 {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.towch1:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.towch1:active {
    color: #000
}

.towch1:active:after {
    background: transparent;
}

.towch1:hover:before {
    opacity: 1;
}

.towch1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

array1 {
    margin-left: 40px;
}

array2.td {
    margin-left: 40px;
    width: 5px;
}

tr {
    border: 5px ridge #196b2f;
}

td {
    text-align: center;
    height: 30px;
    width: 30px;
    border: 4px solid #196b2f;
    border-style: inset;
}