body {
    font: 40px Tahoma;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.boxes div {
    height: 140px;
    width: 90px;
    border-left: 10px dotted #d0d0ff;
    background-color: #eeeff2;
    margin: 10px 0 0 10px;
    padding: 10px 0 0 10px;
    transition-duration: 0.4s;
}

.boxes div:hover {
    cursor: pointer;
    background-color: yellow;
    color: goldenrod;
}

.f {
    position: fixed;
    bottom: 10;
    right: 10;
}